:root {
  --complimentary: #815205;
  --text: black;
  --code: black;
  --text-dim: #444;
  --link: #3366cc;
  --link-visited: #795cb2;
  --code-background: #f3f5f7;
  --code-border: #eaecf0;
  --code-border: transparent;
  --code-hl: #e6e6e6;
  --border-general: #cccfd4;
  --table-th: #e1e5ea;
  --table-tr: #edeff2;
  --toc-background: #f9f9f9;
  --toc-border: #aaa;
  --output-background: #d5dbe3;
  --output-foreground: #805105;
}

@media (prefers-color-scheme: dark) {
  :root {
    --complimentary: #815205;
    --text: #d8d8d8;
    --code: #cbcbcb;
    --text-dim: #a7a7a7;
    /* --link: #8cb4ff; */
    --link: #88a9e9;
    --link-visited: #a390ca;
    --code-background: #272727;
    --code-border: transparent;
    --code-hl: #5a5a5a;
    --border-general: #495057;
    --table-th: #414141;
    --table-tr: #343434;
    --toc-background: #343434;
    --toc-border: #495057;
    --output-background: #020202;
  --output-foreground: #815205;
  }
}

/* COLUMNS */
.md-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.md-columns > div {
  flex: 1 1;
  margin: 1rem 0;
  min-width: 100px;
  max-width: 100%;
  padding: 0 1rem;
}

.md-columns .markdown-inner {
  margin-top: 0;
  margin-bottom: 0;
}

/* TABS */
.md-tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-general);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.md-tabs label {
  display: inline-block;
  padding: 0.2rem 1.0rem;
  border-right: 1px solid var(--border-general);
  border-bottom: 1px transparent;
  cursor: pointer;
}
.md-tabs .md-tabs-content {
  order: 999;
  width: 100%;
  border-top: 1px solid var(--border-general);
  padding: 0.5rem 1rem 1rem 1rem;
  display: none;
}

.md-tabs input[type="radio"] {
  display: none;
}

.md-tabs input[type="radio"]:checked + label {
  background-color: var(--complimentary);
}

.md-tabs input[type="radio"]:checked + label + .md-tabs-content {
  display: block;
}
